:root {
  --bgColor: #000000;
  --bgSoft: #7D5ADC;
  --bgDark: #52057B;
  --text: white;
  --textSoft: #D5D9E0;
  --transition: all .3s ease;
  --lime: #9DDB44;
}

* {
  margin: 0;
  padding: 0;
  boz-sizing: border-box;
}

body {
  background-color: var(--bgColor);
  color: var(--text);
}

a {
  text-decoration: none;
  color: inherit;
}
